* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    background: rgba(0, 0, 0, 0.04);
    padding: 50px 70px;
}

#content .content-header {
    margin: auto;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer-icon i {
    display: inline-block;
    width: 30px;
    font-size: 24px;
}

.footer-icon i:hover {
    cursor: pointer;
    opacity: 0.7;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.logout,
.logout-responsive {
    background: orange;
    border-radius: 8px;
    transition: all 0.2s ease;
    padding: 8px;
    color: #000;
    cursor: pointer;
    text-align: center;
}

.logout {
    display: block
}

.logout:hover {
    opacity: 0.8;
}

.logout-responsive {
    max-width: 150px;
    display: none;
}

@media (max-width: 992px) {
    .logout {
        display: none;
    }

    .logout-responsive {
        display: block;
    }

    #content {
        padding: 24px;
    }
}